body {
  background: url(img/game_background_1.png) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  
}


/**** Canvas ****/
#game {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px dashed;
  margin: auto;
  display: block;
}

/**** Header ****/
.header {
  display: flex;
  justify-content: center;
}
.header__title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
  animation: fadeinout 2.5s infinite alternate ease-in-out;
}

/**** Game Section ****/
.game {
  display: flex;
  align-items: center;
  justify-items: center;
}

/**** Scoreboard & Lives ****/
.game__scoreboard,
.game__lives {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 28px 50px rgba(0, 0, 2, 0.2);
  color: #301E42;
  display: grid;
  font-family: 'Press Start 2P', cursive;
  grid-template-rows: 1fr 1fr;
  height: 200px;
  text-align: center;
  width: 300px;
}

/**** Lives ****/
.game__lives {
  justify-content: center;
}

/*** Animation ***/ 
@keyframes fadeinout {
  0% {
    text-shadow: 0 0 10px transparent;
    color: #3FDEEC;
  }

  100% {
    text-shadow: 0 28px 50px rgba(0, 0, 0, 0.8);
    color: white;
  }
}
