body {
  background: url(img/game_background_1.png) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;  
}

/**** Canvas ****/
#game {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px dashed;
  margin: 0;
  display: block;
}

/**** Header ****/
.header {
  display: flex;
  justify-content: center;
}
.header__title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
  animation: fadeinout 2.5s infinite alternate ease-in-out;
}

/**** Game Section ****/
.game {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.game__gameover {
  animation: heartbeat 1.5s infinite alternate ease-in-out;
  background: #FFF;
  box-shadow: 0 28px 50px rgba(0, 0, 2, 0.5);
  color: #EB4238;
  display: flex;
  display: none;
  flex-direction: column;
	font-family: 'Press Start 2P', cursive;
  left: 0;
  margin: auto;
  position: absolute;
  text-align: center;
  right: 0;
  width: 25em;
}

.game__btn {
	align-items: center;
	animation: playbutton 2.5s infinite alternate ease-in-out;
	background-color: #FFF;
	cursor: pointer;
	font-family: 'Press Start 2P', cursive;
  font-size: 3em;
	justify-content: center;
	margin: 1.5rem auto 0;
	padding: 0.5rem 0;
}

.game__btn--wide {
  display: flex;
  width: 500px;
}

.game__difficulty {
  display: flex;
  margin: auto;
  width: 500px;
}

.game__btn--med {
  padding: 1rem;
}

.container {
	border-radius: 20px;
}

/**** Scoreboard & instructions ****/
.game__scoreboard,
.game__instructions {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 28px 50px rgba(0, 0, 2, 0.2);
  color: #301E42;
  display: grid;
  font-family: 'Press Start 2P', cursive;
  grid-template-rows: 1fr 1fr;
  height: 200px;
  text-align: center;
  width: 300px;
}

/**** Instructions ****/
.game__instructions {
  justify-content: center;
  font-size: 12px
}

/*** Animation ***/ 
@keyframes fadeinout {
  0% {
    text-shadow: 0 0 10px transparent;
    color: #3FDEEC;
  }

  100% {
    text-shadow: 0 28px 50px rgba(0, 0, 0, 0.8);
    color: white;
  }
}

@keyframes playbutton {
	0% {
		text-shadow: 0 0 10px transparent;
		color: #9D3832; 
	}

	100% {
		text-shadow: 0 28px 50px rgba(0, 0, 0, 0.8);
		color: #EB4238;
	}
}

@keyframes heartbeat {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

/*** Media Queries ***/
@media (max-width: 1175px) {
	.game {
  	justify-items: space-between;
	}

	.game__scoreboard,
	.game__lives {
		width: 250px;
	}
}

@media (max-width: 1050px) {
	.game__scoreboard,
	.game__lives {
		width: 200px;
  }
  
 .game__heart {
 	width: 2rem;
 }
}
